# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Prisma client (gerado automaticamente)
prisma/@prisma/

# VSCode settings
.vscode/

# Build
dist/
build/

# Mac system files
.DS_Store

# Others
*.sqlite
